body {
    background-color: rgb(199, 199, 199);
}
form {
    width: 350px;
    background-color: aliceblue;
    border-radius: 3px;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, alpha);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 50px auto;
}
h1 {
    text-align: center;
}
.input {
    flex: 1;
    padding: 5px;
    font-size: 13px;
    outline-color: black;
    outline-width: 0.5px;
}
.submit {
    padding: 8px 10px;
    border-radius: 3px;
    flex: 1;
    border: none;
    background-color: blue;
    color: antiquewhite;

}
.submit :hover {
    background-color: blue;
}