body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background: #333;
    color: #fffffc;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #81b29a;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px; 
    text-align: center;
    background: white;
    margin: 20px;
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

footer {
    background: #333;
    color:#81b29a;
    text-align: center;
    padding: 20px;
    position: relative;
}
form {
    display: inline-block;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  p + p {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    outline-style: solid;
    outline-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    padding-left: 90px; 
    text-align: left;
  }
  
  button {
    margin-left: 0.5em;
  }
  .feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
#snow-mass-map {
  width: 500px;
  height: 300px;
}
#niseko-map {
  width: 500px;
}
#whistler-map {
  width: 500px;
  height: 250px;
}


